body {
  font-size: 24px;
}

body #page {
  width: 90%;
  overflow:hidden;
}

#logo { 
  display: block;
  width: 504px; 
  overflow:hidden; 
}

input, button {
  font-size: 18px !important;
}

input { 
  width: 70px !important;
}

input#tip {
  width: 140px !important;
}

.fullfeature { display:none; }

h1 { font-size: 22px; }
h2 { font-size: 32px; }

#nav {
  padding-bottom: 20px;
}

.tip {
  width: 90%;
  height: 96px;
}

.tip .text {
  font-size: 1.4em;
}

.tip .detail {
  font-size: 1em;
}


.thumbs {
  width: 96px;
  height: 96px;
}

label {
 width: auto;
 margin-top: 5px;
 padding-top: 10px;
}

select {
  width: 200px;
}

select, input {
  font-size: 32px !important;
  height: 42px;
}

.error {
  font-size: 1em;
}

.ui-button {
  height: 42px;
  font-size: 28px !important;
}
