@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

body {
  font-family: "Trebuchet MS";
  background: url('/images/bg.png') top repeat-x #000;
  text-align: center;
  color: #333;
  margin: 0;
  padding: 0;
}

body a {
  color: #006 !important;
}

body #page {
  text-align: left;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: auto;
  zoom: 1;
}

body #page div#s1 { 
  margin:0;
  padding:0;
  background: url('/images/topbar-m.png') top repeat-x #EEE;
  padding-bottom: 50px;
}

body #page div#s2 { 
  margin:0;
  padding:0;
  background: url('/images/topbar-l.png') top left no-repeat;
}

body #page div#s3 {
  margin:0;
  padding: 1px 10px;
  background: url('/images/topbar-r.png') top right no-repeat;
}

body #page div#s4 {
  text-align: center;
  background: none;
}

body #page #nav ul {
  margin: 0;
  padding: 15px 0 0 0;
  list-style: none;
  height: 22px;
}

body #page #nav ul li {
  float: left;
  padding-right: 30px;
}

body #page #nav ul li a {
  color: #EBEBEB !important;
  text-decoration: none;
}

body #page #nav ul li a:hover {
  text-decoration: underline;
}

/** Talk **/
body #page #thetalk { 
  float: left;
  text-align: left;
  font-size: 11px;
  padding-top: 5px;
  height: 13px;  
  font-weight: bold;
}

body #page #thetalk ul {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 20px;
}

body #page #thetalk ul li {
  display: inline;
  font-size: 11px;
  padding-left: 10px;
}

body #page #thetalk ul li a {
  font-weight: normal;
  text-decoration: none;
}

/** User Nav **/
body #page #usernav {
  text-align: right;
}

body #page #usernav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 20px;
}

body #page #usernav ul ul {
  display: inline;
  list-style: none;
}

body #page #usernav ul li {
  display: inline;
  font-size: 11px;  
  padding-left: 10px;
}

body #page #usernav ul li a {
  color: inherit !important;
  text-decoration: none;
  border-bottom: 1px dashed #F6F6F6;
}

body #page #usernav ul li a:hover {
  text-decoration: underline;
}