body {
  font-family: "Trebuchet MS";
  background: url('images/bg.png') top repeat-x #000;
  text-align: center;
  color: #CCC;
}


body a {
  color: #006;
}

h1 {
  font-size: 18px;
  color: #CCC;
}