@import url('primary.css');

h1 {
  text-align: center;
  font-size: 18px;
  color: #333;
}

form {
  text-align: center;
  padding-bottom: 20px;
}

#tipform, #login {
  padding-left: 20px;
}

form#tipform input {
  float: none;
}

form label, form input {
  float: left;
}

form label {
  width: 120px;
}

form br {
  clear: both;
}

.announcement {
  border: dashed 2px #000;
  padding: 15px 10px !important;
  margin: 15px 10px !important;
}

.blue {
  background: #EEF !important; 
}  

.green {
  background: #EFE !important; 
}  


.tip, .contentbox {
  position: relative;
  text-align: center;
  font-size: 18px; 
  letter-spacing: 0.1em; 
  margin: 0 auto 10px auto;
  background: #F6F6F6; 
  border: 1px solid; 
  border-color: #DDD; 
  width: 468px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
}

.tall.tip {
  height: 60px;
}

.tip.expandable {
  overflow: visible;
  height: auto !important;
}

.tip img {
  position: absolute;
}

.tip .text {
  padding-top: 8px;
}

.tip .narrowtext {
  font-size: 0em;
}

.tip .detail { 
  font-size: 11px; 
  letter-spacing: 0; 
}

.tip img.thumbs {
  cursor: pointer;
}

.tip img.thumbs.up {
  left: 0;
  top: 0;
  border-right: solid 1px #DDD;
  float: left;
}

.tip img.thumbs.down {
  right: 0;
  top: 0;
  border-left: solid 1px #DDD;
  float: right;
}

.contentbox {
  padding: 10px;
  font-size: 12px;
  overflow: visible;
  zoom: 1;
  height: auto;

}

.ui-selectmenu { 
  float: left; 
  font-size: 10px;  
  height: 24px !important;
  display: inline !important;
  color: #F6F6F6 !important;
}

.ui-selectmenu-status, .ui-selectmenu-menu, .ui-selectmenu-group, .ui-selectmenu-status a, .ui-selectmenu-menu a, .ui-selectmenu-group a {
  text-align: left;
  font-size: 10px !important;
  color: #303030 !important;
}

.ui-state-default, ul-widget-content .ui-state-default {
  background: url('/images/ui-bg_glass_40_111111_1x400.png') top repeat-x !important;
}

.ui-state-default .ui-selectmenu-status {
/*
  color: #999 !important;
  font-style: italic;
*/
  padding-top: 5px;
}

input {
  border: 1px solid #777;
  padding-left: 6px;
  height: 24px;
  background: url('/images/ui-bg_glass_40_111111_1x400.png') top repeat-x !important;
}

.ui-button {
  background-image: none;
  background-color: #EEEEEE !important;
  font-size: 12px !important;
}

.ui-state-default .ui-icon {
  background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/black-tie/images/ui-icons_222222_256x240.png) !important;
}

.ui-state-hover a {
  color: #F6F6F6 !important;
}

//old

.tip { padding-left: 10px; margin-bottom: 20px; }
.tip.bad { color: #666; }
.tip.reallybad { color: #CCC; }
.tip.superbad { display: none; }

.badtip {
  color: #F00;
}

iframe#loungeframe { 
  display: none;
  border: solid 1px #000;
}


h2 { 
  font-size: 18px;
}

.h3 { font-size: 18px; }

.error {
  font-size: 12px;
  margin: 10px 0 0 0;
  color: #F00;
}

div#footer {
  font-size: 10px !important;
  border: 1px solid #666;
  background: #5A5A5A !important;
  padding: 5px !important;
  overflow: auto;
  zoom: 1;
}

div#footer, div#footer a {
  text-decoration: none;
  color: #CCC !important;
}

#pageDescription { 
  text-align: center;
}

#as {
  width: 810px;
  text-align: center;
}

#aPanel { 
  //display: none; 
}

blockquote.attention {
  background: #FEE;
  border: dashed 2px #000;
  padding: 5px 10px;
  margin: 5px 10px;
}

.cloud {
  position: relative;
  width: 770px;
  height: 500px;
  list-style: none;
  overflow: auto;
  zoom: 1;
}

.cloud li {
  position: absolute;
  padding-right: 5px;
  float: left;
}

.cloud li:hover {
  font-size: 2em;
  cursor: pointer;
  color: #FFF;
  text-shadow: #000 3px 3px 5px;
  z-index: 1000;
}

#pun_antispam_image {
  clear: both;
  padding-left: 120px;
  display: block;
}

.checkbox label {
  margin-top: 7px;
}

.frm-buttons input {
  clear: both;
  padding-left: 30px;
}

.online {
  padding: 3px 7px;
  background: #EEEEEE;
  font-size: 10px;
}

.online br {
  display: inline;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.online br:before { 
  content: '';
  white-space: nowrap;
}

.warning {
  font-size: 11px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 580px) and (max-width: 890px) {
  body #page { width: 90%; }
  body #page #thetalk { width: 100%; overflow: hidden; height: 13px; }
  body #page #logo { width: 495px; overflow: hidden; display: block; }
}

@media only screen and (max-width: 579px) {
  body #page { width: 90%; }
  body #page #nav { display: none; }
  body #page #thetalk { display: none; }
  body #page #s4 { position: relative; } 
  body #page #usernav { position: absolute; top: 0; left: 0; text-align: left; display: block !important; }

body #page #usernav ul {
  margin: 0;
  list-style: none;
  height: 22px;
  overflow: hidden;
}

body #page #usernav ul li {
  float: left;
  padding-right: 30px;
}

body #page #usernav ul li a {
  color: #EBEBEB !important;
  text-decoration: none !important;
  font-size: 16px;
  border-bottom: none;
}

body #page #usernav ul li a:hover {
  text-decoration: underline;
}

  h1.pagehead { padding-top: 60px; }

  body #page #logo { height: 53px; width: 495px; overflow: hidden; display: block; }
  body #page #logo a { display: block; height: 100%; width: 245px; overflow: hidden; background: url('/images/logo.png') -250px -50px; }
  body #page #logo img { position: absolute; left: -230px; display: none; }
  .tip,.contentbox { width: 90%; font-size: 50%; height: 48px !important; }
  .tip .detail { font-size: 0px !important; padding-top: 3px; }
  .tip .detail .totalscore { font-size: 11px !important; }
  .tip .detail .totalscore:before { content: "Confidence: "; }
  .tip .text { font-size: 0px !important; }
  .tip .text b { font-size: 11px !important; }
  .tip .text b:first-child:after { content: ":"; }
  .tip .narrowtext { font-size: 2.0em !important; }
  .tip .thumbs { width: 50px; height: 50px; }
  #tipform, #tipform select, #tipform input, #tipform button { font-size: 11px !important; }
  #tipform select { width: 70px }
  #tipform select, #tipform input, #tipform button { height: 24px;}
}

input[name=req_username], input[name=req_password] { width: 50% !important; }