
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
	height: 100%;
}

body {
	background: url('/images/bg.jpg') top repeat-x #000;
	background-attachment: fixed;
	background-size: 100%;
	overflow: hidden;
	position: relative;
	min-height: 100%;
	height: auto
}

nav {
	border: 0;
	background-image: linear-gradient(to bottom, rgb(81, 81, 81) 24%, rgb(43, 43, 43) 62%);

	.talking {
		background: #f4f3f4;
		font-size: 0.8em;
		padding: 5px 20px;
		border-radius: 0 0 4px 4px;
		height: 2.3em;
		overflow: hidden;

		.thread {
			white-space: nowrap;
		}
	}
}

.container {
	width: 100%;

	& > .row:last-child {
		padding-bottom: 80px;
	}
}

.tip {
	.thumbs {
		padding-top: 10px;
		font-size: 3.0em;
		color: #222;

		&:hover {
			text-shadow: 0 0 15px #999;
		}
	}

	.text {
		font-size: 1.7em;
	}
}

textarea {
	min-height: 200px;
}

.deleted {
	opacity: 0.65;
}

.row-no-padding {
	[class*="col-"] {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #222;

	.container {
		padding-top: 15px;
	}
}
