
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background: url('/images/bg.png') top repeat-x #000;
	background-position: 0 50px;

	nav {
		border: 0;
	}
}
