
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background: url('/images/bg.png') top repeat-x #000;

	nav {
		border: 0;
		background-image: linear-gradient(bottom, rgb(81, 81, 81) 24%, rgb(43, 43, 43) 62%);
	}
}

.tip {
	.thumbs {
		padding-top: 10px;
		font-size: 3.0em;
		color: #222;

		&:hover {
			text-shadow: 0 0 15px #999;
		}
	}

	.text {
		font-size: 1.7em;
	}
}

textarea {
	min-height: 200px;
}

.deleted {
	opacity: 0.65;
}

.row-no-padding {
	[class*="col-"] {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
